.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height to center the spinner */
  background-color: #f7f5eb; /* Light beige background for a consistent look */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #e7e4d8; /* Light beige color for the spinner base */
  border-top: 6px solid #3d2f25; /* Dark earthy color for the spinner tip */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
